$break-small: 719px;
$break-large: 1500px;
$break-medium: 950px;

body {
  font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial,
    Lucida Grande, sans-serif;
  overflow-y: hidden;
  overflow-y: scroll;

  p {
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial,
      Lucida Grande, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial,
      Lucida Grande, sans-serif;
    line-height: 43px;
    color: #1e1c21;
  }

  a {
    color: black;

    &:hover,
    &:active {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .main-header {
    background-color: black;
    display: block;
    padding: 39px 0;

    .logo {
      img {
        width: 151px;
        height: 44px;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 160px;
          height: 47px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 47px;
          display: block;
          background: white;
          border-radius: 4px;
          border: 1px solid white;
          text-align: center;
          color: black;
          &:hover,
          &:active {
            color: white;
            background: black;
            transform: translate3d(0px, -1px, 0px);
          }
        }
      }
      @media screen and (max-width: $break-small) {
        .logo {
          img {
            width: 100px;
            height: 44px;
          }
        }
      }
    }
  }

  .page-header-how-to {
    padding: 50px 0;
    text-align: center;
    background-color: black;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      color: white;
      padding: 0 0 15px 0;
      line-height: 54px;
    }
    img {
      vertical-align: middle;
    }
  }

  .page-header {
    text-align: center;
    padding: 100px 0 100px 0;
    background-color: black;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 2.5rem;
      color: white;
      padding: 0;
      line-height: 54px;
      text-align: left;
      margin: 20px 0px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1e1c21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
      text-align: left;
      padding: 20px 0 20px 0;
      color: dimgray;
    }
    video,
    img {
      max-width: 100%;
      border-radius: 10px;
    }

    &.home {
    }

    .add-to-chrome {
      margin: 0 0 24px 0;
      img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        padding: 0 10px 0 0;
      }
      a {
        padding: 16px;
        width: 100%;
        height: 47px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 47px;
        display: block;
        background: white;
        border-radius: 4px;
        border: 1px solid white;
        text-align: center;
        color: black;
        &:hover,
        &:active {
          color: white;
          background: black;
          transform: translate3d(0px, -1px, 0px);
        }
      }
    }
    .page-header-title,
    .page-header-gif {
      width: 90%;
    }
    .header-small-text {
      display: block;
      text-align: left;
    }
    @media screen and (max-width: $break-large) {
      h1,
      p {
        text-align: center;
      }
      .header-small-text {
        display: none;
      }

      .add-to-chrome, .header-small-text {
        a {
          padding: 10px 0;
          display: none;
        }
      }
      .col-5,
      .col-7 {
        width: 100%;
      }
    }

    @media screen and (max-width: $break-small) {
      h1,
      h2 {
        padding-top: 0;
      }
      .add-to-chrome {
        a {
          width: 100%;
          display: block;
        }
      }

      .header-small-text {
        display: block;
        text-align: center;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .page-preview {
    text-align: center;
    padding: 100px 0 100px 0;
    background-color: white;
    border-radius: 0px 0px 40px 40px;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1e1c21;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1e1c21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
      color: rgba(0, 0, 0, 0.5);
    }

    img {
      max-width: 100%;
    }

    &.home {
      padding-bottom: 30px;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1,
      h2 {
        padding-top: 0;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .installButton {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    border-width: 2px;
    padding: 0 22px;
    height: 53px;
    font-size: 18px;
    line-height: 53px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    background-image: none;
    border: 1px solid white;
    white-space: nowrap;

    &:hover {
      background: transparent;
      a {
        color: white;
      }
    }
  }



  .features {
    padding: 10vh 0 10vh 0;
    border-bottom: 1px solid #eaeaea;

    .featured_item {
      list-style: inside;
    }

    .fontIconLeft {
      padding: 0 20px 0 0;
    }
    .fontIconRight {
      padding: 0 0 0 20px;
    }

    .pRight {
      float: right;
      text-align: end;
    }

    .headingRight {
      text-align: end;
    }
    .feature__item {
      padding: 50px 0;

      video {
        width: 100%;
      }
      .highlighted {
        background: white;
        border-radius: 17px;
        padding: 30px 20px;
        box-shadow: 0 7px 21px 0 #e5eaee;
      }
      .highlightedBlack {
        background: black;
      }

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }
      h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #1e1c21;
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        p,
        li {
          font-size: 18px;
          line-height: 26px;
          color: rgba(0, 0, 0, 0.5);
        }

        .highlightedText {
          color: black;
        }
        .highlightedTextBlack {
          color: white;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
        }
        .shadow {
          box-shadow: 0 7px 21px 0 #e5eaee;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .headingRight {
        justify-content: center;
        text-align: center;
        display: flex;
      }

      .fontIconRight {
        order: 1;
        padding: 0 10px 0 0;
      }

      .fontIconLeft {
        padding: 0 10px 0 0;
      }

      .headingText {
        order: 2;
      }

      .pRight {
        text-align: center;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      .feature__content {
        padding: 15px;
      }

      h2 {
        text-align: center;
        margin-top: 10px;
      }
      p {
        text-align: center;
      }

      .feature__item {
        .highlighted {
          padding: 0px;
        }
        .thumbnail {
          text-align: center;
          img {
            max-width: 100%;
          }
        }
        .featured_heading {
          font-size: 24px;
          vertical-align: middle;
          .h2 {
            .span {
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .call-to-action {
    color: #ffffff;
    background: black;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffff;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: black;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:hover,
        &:active {
          color: white;
          background: black;
          border: 1px solid white;
        }
      }
    }
    .call-to-action_inner {
      padding: 100px 0;
      border-radius: 10px;
      background: black;
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    @media screen and (max-width: $break-medium) {
      text-align: center;
      .item {
        margin: 24px 0;
      }
    }

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1e1c21;
    }

    .item {
      text-align: center;
      h3 {
        font-size: 18px;
        margin: 5px 0 0;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.5);
      }

      img {
        width: 50%;
      }
    }
  }

  .bg-color {
    background-color: #fdfaff;
    padding: 52px 0;
  }

  .integration-guid {
    width: 80%;
    margin: 0 auto;
    color: #1e1c21;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Open Sans;
    }

    .title {
      text-align: center;

      h2 {
        font-size: 36px;
      }
    }

    .content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  footer {
    padding: 120px 0 45px;

    p {
      font-size: 15px;
    }

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover,
              &:active {
                color: black;
              }
            }
          }
        }

        .links__special {
          background-color: black;
          color: black;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            color: black;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
